{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
<!--header-->			
<div class="header">  
	 <div class="container">
		  <div class="logo">
			  <a href="{% url 'blog.views.index' %}"><img src="{% static "images/logo.png" %}" title="" /></a>
		  </div>
			 <!--start-top-nav-->
			 <div class="top-menu">
				 <div class="search">
					 <form action="{% url 'blog.views.search' %}" method="get">
					 <input type="text" placeholder="" required="" name="keywords">
					 <input type="submit" value=""/>
					 </form>
				 </div>
				  <span class="menu"> </span> 
				   <ul>
						<li><a href="{%url 'blog.views.index'%}">HOME</a></li>						
						<li class="active"><a href="{% url 'blog.views.about' %}">ABOUT</a></li>	
						<li><a href="{% url 'blog.views.contact' %}">CONTACT</a></li>						
						<div class="clearfix"> </div>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
					<script>
					$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
						});
					});
					</script>
				<!--//End-top-nav-->				
	 </div>
</div>
<!--/header-->
	<div class="about-content">
	 <div class="container">
		 <h2>关于博客</h2>
		 <div class="about-section">
			 <div class="about-grid">
				 <h3>为什么开始这个博客?</h3>
				 <p>因原有的dz论坛不在维护了，论坛上原有的精华文章我会抽时间陆续迁移到此博客，博客暂时没有开放留言评论功能，why？
				 <br>只想静静，也别问我静静是谁.</p>
				 <p>博客基于django开发，你可能会发现功能还不完善，这不是重点，写文和开发同行，看心情慢慢完善吧.</p>
			 </div>
			 <div class="about-grid2">
				 <h3>博客声明</h3>
				 <p>博客部分资源可能来自强大的网络，如果有侵权的地方请及时与我联系.</p>	
				 <ul>
					 <li><a href="#">http://museum.php.net/php5/</a></li>
					 <li><a href="#">https://www.github.com/</a></li>
					 <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
					 <li><a href="#">In consequat dolor in lorem egestas ultrices.</a></li>
					 <li><a href="#">Ultrices rhoncus nibh quis dui.</a></li>
				 </ul>	
			 </div>
			 <div class="who-iam">
			 </div>			 
		  </div>		 
	  </div>
</div>
<!---->
{% endblock content %}



	
