{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>搜搜linux博客</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	<link href="{% static "css/bootstrap.css" %}" rel='stylesheet' type='text/css' />
	<link href="{% static "css/style.css" %}" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="搜搜linux博客,linux blog,搜搜linux论坛,搜搜linux,sosolinux" />
	<script type="application/x-javascript"> 
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); 
		function hideURLbar(){ window.scrollTo(0,1); } 
	</script>
	<!--webfonts-->
		<!--
		<link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>-->
		<link href='{% static "css/Oswald.css" %}' rel='stylesheet' type='text/css'>
		<link href='{% static "css/Lato.css" %}' rel='stylesheet' type='text/css'>
		<!--//webfonts-->
		<!--  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
		<!--<script src="http://ajax.useso.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
		<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
		<!--end slider -->
		<!--script-->
<script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
<script type="text/javascript" src="{% static "js/easing.js" %}"></script>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!---->
</head>
<body>
{% block content %}
{% endblock content %}
<!---->
<div class="footer">
	 <div class="container">
	 <p>Copyrights © 2015 Blog All rights reserved | Blog by <a href="http://blog.sosolinux.com/">Jeremy</a></p>
</div>
</div>
</body>
</html>
