{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
<!--header-->			
<div class="header">  
	 <div class="container">
		  <div class="logo">
			  <a href="{% url 'blog.views.index' %}"><img src="{% static "images/logo.png" %}" title="" /></a>
		  </div>
			 <!--start-top-nav-->
			 <div class="top-menu">
				 <div class="search">
					 <form action="{% url 'blog.views.search' %}" method="get">
					 <input type="text" placeholder="" required="" name="keywords">
					 <input type="submit" value=""/>
					 </form>
				 </div>
				  <span class="menu"> </span> 
				   <ul>
						<li><a href="{%url 'blog.views.index'%}">HOME</a></li>						
						<li><a href="{% url 'blog.views.about' %}">ABOUT</a></li>	
						<li class="active"><a href="{% url 'blog.views.contact' %}">CONTACT</a></li>						
						<div class="clearfix"> </div>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
					<script>
					$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
						});
					});
					</script>
				<!--//End-top-nav-->				
	 </div>
</div>
<!--/header-->
	<div class="contact-content">
	 <div class="container">
		     <div class="contact-info">
			 <h2>CONTACT</h2>
			 <p>欢迎对本博客和博文提出意见，请按如下格式填写，邮件将发送至我的私人邮箱，联系方式如右下角，谢谢!</p>
		     </div>
			 <div class="contact-details">				 
			 <form method="post" action="{% url 'blog.views.contact' %}">
			 	{% csrf_token %}
				 {{form.name}}
				 {{form.email}}
				 {{form.phone}}
				 {{form.city}}
				 {{form.message}}
				 <input type="submit" value="SEND"/>
			 </form>
		  </div>
		  <div class="contact-details">
			  <div class="col-md-6 contact-map">
			  </div>
			  <div class="col-md-6 company_address">
			  		<div class="man-pic">
			 		<img src="{% static "images/weixin.png" %}" alt="" width="60%" />
			 		</div>		 
					<h4>GET IN TOUCH</h4>
					<p>QQ:780093098</p>
					<p>Email: <a href="mailto:sosolinux@163.com">sosolinux@163.com</a></p>
			 </div>
			  <div class="clearfix"></div>
	     </div>		 

			 </div>
	 </div>
{% endblock content %}



	
